[Desktop Entry]
Type=Application
Exec=/usr/bin/chromium-browser --noerrdialogs --disable-session-crashed-bubble --disable-infobars --disable-translate --kiosk http://127.0.0.1
Hidden=false
X-GNOME-Autostart-enabled=true
Name=AutoChromium
Comment=AutostartPiFan
